<div class="form-body">
    <form autocomplete="off" [formGroup]="createFormAppraisalName" (ngSubmit)="onCreateName(createFormAppraisalName.value)">
        <div>
            <label>APPRAISAL NAME: </label>
            <input type="text" formControlName="name" autocomplete="off">
        </div>
        <button type="submit">Submit</button>
    </form>
    <form autocomplete="off" [formGroup]="createFormAppraisalUrlCar" (ngSubmit)="onCreateUrlCar(createFormAppraisalUrlCar.value)">
        <div>
            <label>URL CAR PHOTO: </label>
            <input type="text" formControlName="url" autocomplete="off">
        </div>
        <button type="submit">Submit</button>
    </form>
    <form autocomplete="off" [formGroup]="createFormAppraisalUrlDoc" (ngSubmit)="onCreateUrlDoc(createFormAppraisalUrlDoc.value)">
        <div>
            <label>URL DOC PHOTO: </label>
            <input type="text" formControlName="url" autocomplete="off">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<h1> NEW APPRAISAL</h1>

<h3>NAME: {{ name }}</h3>

<h3>CAR PHOTOS:</h3>
<div *ngFor="let photos of photosCar">
    <li>url car: {{ photos.url }}</li>
</div>

<h3>DOC PHOTOS:</h3>
<div *ngFor="let photos of photosDoc">
    <li>url doc: {{ photos.url }}</li>
</div>

<button (click)="onCreateAppraisal()">add new appraisal</button>