
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">My App</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" [routerLinkActive]="'active'">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/new-appraisal" [routerLinkActive]="'active'">New Appraisals</a>
        </li>  
        <li class="nav-item">
            <a class="nav-link" routerLink="/list-appraisal" [routerLinkActive]="'active'">Appraisals List</a>
          </li>  
      </ul>
    </div>
  </nav>
